<%- include('partials/header'); -%>

<header>
  <div >
    <img src="/node.png" alt="">
  </div>
  <div class="headings">
    <h2>NodeJS Shop</h2>
    <h3>yanluchina48@gmail.com</h3>
    <a href="/shop" class="btn">View Shop</a>
  </div>
</header>


<%- include('partials/footer'); -%>