<%- include('partials/header'); -%>

<ul class="products">
  <li class="product">
    <img src="/Iphone-X.png" alt="no image yet">
    <h4>Apple Iphone</h4>
    <p>Iphone X(64)</p>
  </li>
  <li class="product">
    <img src="/Xiaomi-Mi.png" alt="no image yet">
    <h4>Xiaomi</h4>
    <p>XIAOMI MI 4G LTE </p>
  </li>
  <li class="product">
    <img src="/Magista.png" alt="no image yet">
    <h4>Nike</h4>
    <p>Air Max Magista</p>
  </li>
  <li class="product">
    <img src="/macbook-pro.png" alt="no image yet">
    <h4>Apple MacBook</h4>
    <p>MACBOOK PRO</p>
  </li>
  <li class="product">
    <img src="/Beats.png" alt="no image yet">
    <h4>BEATS by Dr.Dre</h4>
    <p>Solo Pro</p>
  </li>
  <li class="product">
    <img src="/Nike-react.png" alt="no image yet">
    <h4>NIKE</h4>
    <p>NIKE REACT ELEMENT 55</p>
  </li>
</ul>

<%- include('partials/footer'); -%>